Flask==2.2.3
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
tensorflow==2.11.0
numpy==1.24.0
pillow==9.4.0
gradio==3.14.0
matplotlib==3.6.2
scikit-learn==1.0.2
openpyxl==3.0.10
mysql-connector-python
PyMySQL